/* .div {

} */
.button {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.button:hover {
    background-color: blue;
    border-color: white;
    color: white;
}
.active {
    background-color: red;
    color: white;
}