.div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 30%;
    min-width: 200px;
}
.text {
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.date {
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -10px;
    text-align: center;
    font-size: 0.75rem;
}

button {
    cursor: pointer;
}